ul {
    clear: both;
}

.half-button {
    float: left;
    width: 45%;
    margin: 1%;
}

.btn-container {
    margin-left: 5%;
}

.checked:after {
  position: absolute;
  top: 50%;
  display: inline-block;
  color: #bbb;
  font-family: Ratchicons;
  font-size: inherit;
  text-decoration: none;
  line-height: 1;
  cursor: default;
  -webkit-font-smoothing: antialiased;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.checked:after {
  right: 15px;
  content: '\e810';
}


.content {
    position: absolute;
}

.bar-header-secondary>input {
    margin-top: 6px;
    height: 31px;
}

.details {
    margin: auto;
}

.details>img {
    float:left;
    margin:10px;
    width: 80px;
    height: 80px;
}

.home .table-view {
    margin: 0 !important;
    border: none;
}

.details h1 {
    padding-top: 16px;
    font-size: 18px;
}
/*
.media-object {
    width: 24px;
    height: 24px;
}

.icon-location {
    background: transparent url(../images/ic_action_location.png);
    background-repeat: no-repeat;
}
*/