<header class="bar bar-nav">
    <a class="btn btn-link btn-nav pull-left btn-back">
        <span class="icon icon-left-nav"></span>Πίσω
    </a>
    <h1 class="title">Τι;</h1>
</header>
<div class="content">
	<div class="card">
		<ul class="table-view">
			<li class="table-view-divider">Βλάβες</li>
			<% _.each( blabes, function(elem, index) { %>
			<li class="table-view-cell">
				<a><%= elem %></a> 
			</li>
			<% }); %>
			<li class="table-view-divider">Διάφορα</li>
			<% _.each( diafora, function(elem, index) { %>
			<li class="table-view-cell">
				<a><%= elem %></a> 
			</li>
			<% }); %>
		</ul>
	</div>
</div>