<header class="bar bar-nav">
	<% //if ( (SC.Models.reports) && (SC.Models.reports.length) ) { %>
		<a href="#reportlist" class="icon icon-list pull-left"></a>
	<% //} %>
	<button class="btn pull-right">Περιγραφή</button>
    <h1 class="title">Νέο Αίτημα</h1>
</header>

<div class="content">
	<div class="card">
		<ul class="table-view">
			<li class="table-view-cell media">
				<a class="push-right" href="#category">
				<span class="media-object pull-left">
				<i class="fa fa-question-circle fa-lg fa-custom"></i>
				</span>
				<span style="color:#bbb;">Τι;</span>
				<span style="color:#000;" id="category"></span>
				</a> 
			</li>
		</ul>
	</div>
	<div class="card">
		<ul class="table-view">
			<li class="table-view-cell media">
				<a class="push-right" href="#map">
					<span class="media-object pull-left">
					<i class="fa fa-map-marker fa-custom"></i>
					</span>
					<span style="color:#bbb;">Που;</span>
					<span style="color:#000;" id="position_address"></span>
				</a> 
			</li>
		</ul>
	</div>
	<div class="card">
		<ul class="table-view">
			<li class="table-view-cell">			
				<span class="media-object pull-left">
				<i class="fa fa-camera-retro fa-lg"></i>
				</span>
				<span style="color:#bbb;">Φωτογραφίες;</span>
			</li>
		</ul>
	</div>
</div>

