<header class="bar bar-nav">
	<a class="btn btn-link btn-nav pull-left btn-back">
        <span class="icon icon-left-nav"></span><%= address ? 'Αιτήματα' : 'Ακύρωση' %>
    </a>
	<button id="next" class="btn pull-right">Επόμενο</button>
    <h1 class="title"><%= address ? '' : 'Νέο' %> Αίτημα</h1>
</header>

<div class="content">
	<div class="card">
		<ul class="table-view">
			<li class="table-view-cell media">
				<a class="push-right" href="#category">
				<span class="media-object pull-left">
				<i class="fa fa-question-circle fa-lg fa-custom"></i>
				</span>
				<span style="color:#bbb;">Τι;</span>
				<span style="color:#000;" id="category"><%= categoryName() %></span>
				</a> 
			</li>
		</ul>
	</div>
	<div class="card">
		<ul class="table-view">
			<li class="table-view-cell media">
				<a class="push-right" href="#map">
					<span class="media-object pull-left">
					<i class="fa fa-map-marker fa-custom"></i>
					</span>
					<span style="color:#bbb;">Που;</span>
					<span style="color:#000;" id="position_address"><%= address%></span>
				</a> 
			</li>
		</ul>
	</div>
	<div class="card">
		<ul class="table-view">
			<li class="table-view-cell">			
				<span class="media-object pull-left">
				<i class="fa fa-camera-retro fa-lg"></i>
				</span>
				<span style="color:#bbb;">Φωτογραφίες;</span>
			</li>
		</ul>
	</div>

	<nav class="bar bar-tab">
		<a class="tab-item" href="#">
			<span class="icon icon-list"></span>
			<span class="tab-label">Αιτήματα</span>
		</a>
		<a class="tab-item" href="#account">
			<span class="icon icon-person"></span>
			<span class="tab-label">Προφίλ</span>
		</a>
		<a class="tab-item" href="#about">
			<span class="icon icon-info"></span>
			<span class="tab-label">SmartCitizen</span>
		</a>
	</nav>
</div>

