<header class="bar bar-nav">
	<% if (models.length) {%>
		<a class="icon icon-trash pull-right"></a>
		<h1 class="title">Αιτήματα</h1>
	<% } else { %>
    	<h1 class="title">SmartCitizen</h1>
    <% } %>	
</header>
<div class="content">
	<% if (models.length) {%>
	<div class="card">
		<ul class="table-view">
			<% _.each(models, function(report) { %>
			<li id="<%= report.id %>" class="table-view-cell report">
				<a style="padding-right:10px;" id="category" class="push-right" href="#home/<%=report.id%>">
				<span style="font-weight: bold;"><%= report.get('categoryName')(report.get('category')) %></span><br/>
				<%= report.get('address') %><br/>
				<span style="float: right; font-size:12px;"><%= moment.unix(report.get('timestamp')).fromNow() %></span>
				</a>
				<button style="display:none;" class="btn btn-negative circle">x</button>
			</li>
			<% }); %>
		</ul>
	</div>
	<% } else { %>
	<div class="card" align="center">
		<a id="composeImg">
		<h5> Γεια σου Έξυπνε Πολίτη! </h5>
		<img src="images/active.png"/>
		<h5> Δράσε τώρα δημιουργώντας ένα νέο αίτημα </h5>
	</a>
	</div>
	<% } %>

	<nav class="bar bar-tab">
		<a class="tab-item" href="#account">
			<span class="icon icon-person"></span>
			<span class="tab-label">Προφίλ</span>
		</a>
		<a id="compose" class="tab-item">
			<span class="icon icon-compose"></span>
			<span class="tab-label">Νέο Αίτημα</span>
		</a>
		<a class="tab-item" href="#about">
			<span class="icon icon-info"></span>
			<span class="tab-label">SmartCitizen</span>
		</a>
	</nav>
</div>

